<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SIMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.sims.controller.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.sims.controller.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.sims.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCourse</display-name>
    <servlet-name>CreateCourse</servlet-name>
    <servlet-class>com.sims.controller.CreateCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCourse</servlet-name>
    <url-pattern>/CreateCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateExam</display-name>
    <servlet-name>CreateExam</servlet-name>
    <servlet-class>com.sims.controller.CreateExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateExam</servlet-name>
    <url-pattern>/CreateExam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageUser</display-name>
    <servlet-name>ManageUser</servlet-name>
    <servlet-class>com.sims.controller.ManageUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageUser</servlet-name>
    <url-pattern>/ManageUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayUser</display-name>
    <servlet-name>PayUser</servlet-name>
    <servlet-class>com.sims.controller.PayUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayUser</servlet-name>
    <url-pattern>/PayUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMarkDetails</display-name>
    <servlet-name>AddMarkDetails</servlet-name>
    <servlet-class>com.sims.controller.AddMarkDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMarkDetails</servlet-name>
    <url-pattern>/AddMarkDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCourse</display-name>
    <servlet-name>DeleteCourse</servlet-name>
    <servlet-class>com.sims.controller.DeleteCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourse</servlet-name>
    <url-pattern>/DeleteCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCourse</display-name>
    <servlet-name>UpdateCourse</servlet-name>
    <servlet-class>com.sims.controller.UpdateCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCourse</servlet-name>
    <url-pattern>/UpdateCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveUser</display-name>
    <servlet-name>RemoveUser</servlet-name>
    <servlet-class>com.sims.controller.RemoveUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveUser</servlet-name>
    <url-pattern>/RemoveUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUser</display-name>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>com.sims.controller.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/CreateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveUser</display-name>
    <servlet-name>MoveUser</servlet-name>
    <servlet-class>com.sims.controller.MoveUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveUser</servlet-name>
    <url-pattern>/MoveUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.sims.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentByCourse</display-name>
    <servlet-name>PaymentByCourse</servlet-name>
    <servlet-class>com.sims.controller.PaymentByCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentByCourse</servlet-name>
    <url-pattern>/PaymentByCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPayUser</display-name>
    <servlet-name>SearchPayUser</servlet-name>
    <servlet-class>com.sims.controller.SearchUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPayUser</servlet-name>
    <url-pattern>/SearchPayUser</url-pattern>
  </servlet-mapping>
</web-app>